{
  "staging": {
    "CYPRESS_apiUri": "http://localhost:1111/api",
    "CYPRESS_API_URL": "http://localhost:1111/api",
    "API_URL": "http://localhost:1111/api"
  },
  "dev": {
    "API_URL": "http://localhost:1111/api"
  },
  "production": {
    "API_URL": "https://remote-host:1111/api"
  },
  "test": {
    "API_URL": "http://localhost:1111/api"
  }
}
