@import "../../styles/extensions";

.reset-password-modal {
  .icon.close {
    top: 1px !important;
    right: 0px !important;
    color: #a20303;
  }

  .reset-password-form-field-success {
    @extend %success-field;
  }
}
