.create-update-clone-resume {
  max-width: 400px;

  .icon.close {
    top: 1px !important;
    right: 0px !important;
    color: #a20303;
  }
}

.create-update-clone-resume--success {
  color: $success-color !important;
}
