.components-circular-label {
  position: relative !important;
  min-width: 21px !important;
  min-height: 21px !important;
  width: 21px !important;
  height: 21px !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .icon {
    margin: 0 0 2.8px 1px !important;
    opacity: 1;
    font-size: 0.8em !important;
  }
}
